*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: #501598;
    color: white;
}

header{
    background:  #3a126b;
    padding: 20px 0;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

nav ul li a:hover{
    color: gold;
}

.hero{
    display: flex;
    align-items: center;
    padding: 60px 10%;
    background-image: url(m.jpeg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
}

.hero h3{
    font-size: 25px;
    color: gold;
    margin-bottom: 20px;
}

p{
    font-size: 20px;
    font-weight:500;
    line-height: 1.6;
}


#about, #attributes{
    width: 80%;
    margin: 30px auto;
    padding: 20px;
}

#about h2, #attributes h2{
    color: gold;
    margin-bottom: 15px;
    border-bottom: 2px solid gold;
    display: inline-block;
    padding-bottom: 5px;
}


ul li{
    margin: 15px;
    font-size: 17px;
}


article{
    width: 80%;
    margin: 30px auto;
    text-align: center;
    font-style:italic;
}

footer{
    background: #3a126b;
    text-align: center;
    padding: 5px;
}
